* {
    margin: 0;
    padding: 0;
}

html {
    --ballSize: 15vmin;
    --delay: 1s;
}

div {
    position: fixed;
    height: var(--ballSize);
    width: var(--ballSize);
    background-color: red;
    border-radius: calc(var(--ballSize) / 2);
    animation: movingBall calc(var(--delay) * 4) ease infinite;
}

#div1 {
    animation-delay: calc(var(--delay) * 1);
}
#div2 {
    animation-delay: calc(var(--delay) * 2);
}
#div3 {
    animation-delay: calc(var(--delay) * 3);
}
#div4 {
    animation-delay: calc(var(--delay) * 4);
}

@keyframes movingBall {
    0%,
    100% {
        background-color: red;
        transform: translate(0vmin, 0vmin);
    }
    25% {
        background-color: yellow;
        transform: translate(calc(100vw - var(--ballSize)), 0vmin);
    }
    50% {
        background-color: green;
        transform: translate(
            calc(100vw - var(--ballSize)),
            calc(100vh - var(--ballSize))
        );
    }
    75% {
        background-color: blue;
        transform: translate(0vmin, calc(100vh - var(--ballSize)));
    }
}
